
<div class="bg-white min-h-screen sm:py-10 md:grid grid-cols-1 md:grid-cols-2 gap-10">
  <div class="bg-blue-800 shadow-2xl rounded-2xl hidden md:grid items-center justify-center overflow-hidden w-96 ml-auto">
    <div class="bg-blue-600 rounded-full w-96 h-96 flex items-center justify-center">
      <div class="bg-blue-400 rounded-full w-72 h-72 flex items-center justify-center">
        <div class="bg-gray-100 rounded-full w-48 h-48 flex items-center justify-center">
          <div class="text-center">
            <div class="font-bold text-xl">URBAN DICTIOARY</div>
            <div>Number one</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white shadow-2xl rounded-2xl w-full sm:w-96 mx-auto md:mr-auto md:ml-0 min-h-screen sm:min-h-[450px] max-h-[500px] p-5">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>