<div class="flex items-center justify-center">
  <div>
    <div class="w-36 mx-auto">
      <img src="../../assets/images/dictionary.png" alt="" class="w-full" />
    </div>
    <div class="text-center font-bold text-xl my-5">Type and Search a Word</div>
    <div class="text-center text-gray-600">
      Use the Urban Dictionary created by Josh anytime, anywhere. Our dictionary
      does not require too many internet and runs smoothly for people with low
      internet access.
    </div>
    <div class="flex justify-center gap-2">
      <div class="h-3 w-3 bg-blue-600 rounded-full my-10"></div>
      <div class="h-3 w-3 bg-blue-600 rounded-full my-10"></div>
      <div class="h-3 w-3 bg-blue-600 rounded-full my-10"></div>
    </div>
    <div
      class="bg-blue-700 w-4/5 mx-auto text-center rounded-3xl p-3 text-white cursor-pointer hover:bg-blue-900"
      routerLink="/dictionary"
    >
      Get Started
    </div>
  </div>
</div>
